.box-result {
    display: flex;
    justify-content: space-evenly;
}

.track-list {
    margin-top: 20px;
    width: 50%;
    background-color: hsla(180, 100%, 50%, 0.2);
    padding: 2rem;
    border-radius: 1rem;
}

.track-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.track-item img {
    margin-right: 10px;
}

.track-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.button-add {
    border-radius: 25px;
}

.table {
    padding: 0;
}