.search-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    width: 250px;
    margin: 1rem;
}

.button {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    background-color: rgba(60, 92, 26, 0.8);
    width: 6rem;
    height: 3rem;
    border-radius: 25px;
    border: 3px solid green;
}

.button:hover {
    color: rgb(170, 255, 93);
    background-color: hsla(50, 50%, 100%, 0.224);
    cursor: pointer;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}